<a href="https://colab.research.google.com/github/iyengaraditya/Football-Predictions/blob/master/Football_Predictions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

(A) TEAM SELECTION 

*   *extract_roster(team, year)*: Returns the entire roster of a team (team) for a particular season (year)
*   *playing_eleven(team, year)*: Returns the best starting eleven of a team (team) for a particular season (year)
* *process_starters(team, year)*: Returns the formation that the team (team) should play in for a particular season (year

In [ ]:
import pandas as pd
player_data = pd.read_csv('players_complete.csv', sep = ',', encoding='latin1')
player_ratings = player_data.values[0:, 0:12]

In [ ]:
def extract_roster(team, year):
  roster = []
  for i in range(0, len(player_ratings)):
    if (player_ratings[i][0]==year and player_ratings[i][5]==team):
      roster.append(player_ratings[i])
  return roster

In [ ]:
def playing_eleven(team, year):
  roster_demo = extract_roster(team, year)
  starters_u = []
  for i in range(0, len(roster_demo)):
    if(roster_demo[i][10]!="RES" and roster_demo[i][10]!="SUB"):
      starters_u.append(roster_demo[i])
  return starters_u

In [ ]:
def process_starters(team, year):
  starters = playing_eleven(team, year)
  starting_eleven=[]
  def_count = 0
  mid_count = 0
  att_count = 0
  posn = ""
  name = ""
  for i in range(0, len(starters)):
    posn = starters[i][10]
    name = starters[i][2]
    if(posn=="GK"):
      starting_eleven.append(name)
  for i in range(0, len(starters)):
    posn = starters[i][10]
    name = starters[i][2]
    if(posn=="RB" or posn=="RWB"):
      def_count = def_count + 1
      starting_eleven.append(name)
  for i in range(0, len(starters)):
    posn = starters[i][10]
    name = starters[i][2]
    if(posn=="RCB"):
      def_count = def_count + 1
      starting_eleven.append(name)
  for i in range(0, len(starters)):
    posn = starters[i][10]
    name = starters[i][2]
    if(posn=="CB"):
      def_count = def_count + 1
      starting_eleven.append(name)
  for i in range(0, len(starters)):
    posn = starters[i][10]
    name = starters[i][2]
    if(posn=="LCB"):
      def_count = def_count + 1
      starting_eleven.append(name)
  for i in range(0, len(starters)):
    posn = starters[i][10]
    name = starters[i][2]
    if(posn=="LB" or posn=="LWB"):
      def_count = def_count + 1
      starting_eleven.append(name)
  for i in range(0, len(starters)):
    posn = starters[i][10]
    name = starters[i][2]
    if(posn=="RM"):
      mid_count = mid_count + 1
      starting_eleven.append(name)
  for i in range(0, len(starters)):
    posn = starters[i][10]
    name = starters[i][2]
    if(posn=="RCM" or posn=="RDM" or posn=="CM" or posn == "CDM"):
      mid_count = mid_count + 1
      starting_eleven.append(name)
  for i in range(0, len(starters)):
    posn = starters[i][10]
    name = starters[i][2]
    if(posn=="LDM" or posn=="LCM"):
      mid_count = mid_count + 1
      starting_eleven.append(name)
  for i in range(0, len(starters)):
    posn = starters[i][10]
    name = starters[i][2]
    if(posn=="LM"):
      mid_count = mid_count + 1
      starting_eleven.append(name)
  for i in range(0, len(starters)):
    posn = starters[i][10]
    name = starters[i][2]
    if(posn=="CAM"):
      mid_count = mid_count + 1
      starting_eleven.append(name)
  for i in range(0, len(starters)):
    posn = starters[i][10]
    name = starters[i][2]
    if(posn=="RW" or posn =="RF" or posn=="RS"):
      att_count = att_count + 1
      starting_eleven.append(name)
  for i in range(0, len(starters)):
    posn = starters[i][10]
    name = starters[i][2]
    if(posn=="CF" or posn=="ST"):
      att_count = att_count + 1
      starting_eleven.append(name)
  for i in range(0, len(starters)):
    posn = starters[i][10]
    name = starters[i][2]
    if(posn=="LW" or posn=="LF" or posn=="LS"):
      att_count = att_count + 1
      starting_eleven.append(name)
  if(def_count+mid_count+att_count == 10):
     starting_eleven.append("FORMATION:")
     starting_eleven.append(def_count)
     starting_eleven.append(mid_count)
     starting_eleven.append(att_count)
  return starting_eleven

In [ ]:
# SAMPLE CODE
team = process_starters("Chelsea", 2020)
for i in range(0, len(team)):
  print(team[i])

(B) HEAD TO HEAD RECORD


*   *h2h_record(team1, team2)*: Returns the descriptive head to head record for the teams (team1 and team2) since 2007
*   *h2h_number(team1, team2)*: Returns the head to head record for the teams (team1 and team2) since 2007 as an array (HW, HD, HL, AW, AD, AL)

In [ ]:
import pandas as pd
head_to_head = pd.read_csv('H2H PL.csv', sep = ',', encoding='latin1')
record = head_to_head.values[0:, 0:6]

In [ ]:
def h2h_record(team1, team2):
  h2h = []
  for i in range(0, len(record)):
    if((record[i][0]==team1 and record[i][1]==team2) or (record[i][0]==team2 and record[i][1]==team1)):
      h2h.append(record[i])
  return h2h

In [ ]:
def h2h_number(team1, team2):
  rec = h2h_record(team1, team2)
  count = [0, 0, 0, 0, 0, 0]
  for i in range(0, len(rec)):
    if(rec[i][0]==team1):
      if(rec[i][4]=='H'):
        count[0] = count[0] + 1
      if(rec[i][4]=='D'):
        count[1] = count[1] + 1
      if(rec[i][4]=='A'):
        count[2] = count[2] + 1
    if(rec[i][0]==team2):
      if(rec[i][4]=='H'):
        count[3] = count[3] + 1
      if(rec[i][4]=='D'):
        count[4] = count[4] + 1
      if(rec[i][4]=='A'):
        count[5] = count[5] + 1
  return count

In [ ]:
# SAMPLE CODE
rec = h2h_record("Manchester United", "Queens Park Rangers")
num = h2h_number("Manchester United", "Queens Park Rangers")
for i in range(0, len(rec)):
  print(rec[i])
print(num)

(C) Crude Score Prediction


*   *average_team_rating(team, year)*: Returns the average FIFA rating for the starting eleven of the team (team) for the season (year)
*   *score_predictor_simple(home_team, away_team)*: Returns the expected score for a game between two teams (home_team, away_team) as an array (HS, AS)
*   *simulate_season()*: For a separately imported schedule, predicts the scores of all the games in the schedule and returns a matrix of teams and scores
*   *points_per_season(team, stats)*: Predicts the total points that a team (team) scores in a season that was simulated (stats)
*   *team_stats(team)*: Displays how a team performed over an entire season, returns a matrix of the team, all its opponents and the corresponding results

In [ ]:
def average_team_rating(team, year):
  squad = playing_eleven(team, year)
  avg_rating = 0
  for i in range(len(squad)):
    avg_rating = avg_rating + squad[i][8]
  return round(avg_rating/11)

In [ ]:
import numpy as np
import random
def score_predictor_simple(home_team, away_team):
  rec = h2h_record(home_team, away_team)
  num = h2h_number(home_team, away_team)
  year = 2020
  xg_home1 = 0
  xg_away1 = 0
  xg_home2 = 0
  xg_away2 = 0
  x = [0, 0]
  for i in range(len(rec)):
    if(rec[i][0]==home_team):
      xg_home1 = xg_home1 + rec[i][2]
      xg_away1 = xg_away1 + rec[i][3]
  xg_home1 = abs(int(round(2*xg_home1/(sum(num)+0.0001))))
  xg_away1 = abs(int(round(2*xg_away1/(sum(num)+0.0001))))
  x1 = [xg_home1, xg_away1]
  r_home = average_team_rating(home_team, year)
  r_away = average_team_rating(away_team, year)
  xg_home2 = abs(int(np.floor(random.gauss((r_home - 60)/(2*(r_away - 60)), 2 - (r_away/r_home)))))
  xg_away2 = abs(int(np.floor(random.gauss((r_away - 60)/(2*(r_home - 60)), 2 - (r_home/r_away)))))
  x2 = [xg_home2, xg_away2]
  x[0] = abs(int(np.floor(((len(rec)*xg_home1) + 2*(xg_home2))/(len(rec) + 2))))
  x[1] = abs(int(np.floor(((len(rec)*xg_away1) + 2*(xg_away2))/(len(rec) + 2))))
  if(r_home>83 and r_away<=81):
    x[0] = x[0] + abs(int(np.floor((random.uniform(0, 3.1)))))
  if(r_home<=81 and r_away>83):
    x[1] = x[1] + abs(int(np.floor(random.uniform(0, 2.1))))
  if(x[0]==x[1]):
    if(random.uniform(0, 2)>0.5):
      x[0] = x[1] = 0
    if(random.uniform(0, 2)<1.5):
      x[0] = x[1] = 1
    if(random.uniform(0, 4)<1):
      x[0] = x[1] = 2
    if(random.uniform(0, 10)<1):
      x[0] = x[1] = 3
    if(random.uniform(0, 4)<1.5):
      if(r_home>=r_away):
        x[0] = int(random.uniform(1, 4))
        x[1] = int(random.uniform(0, 3))
      else:
        x[1] = int(random.uniform(1, 4))
        x[0] = int(random.uniform(0, 3))
  return x

In [ ]:
# SAMPLE CODE
print(average_team_rating("Arsenal", 2020))

In [ ]:
# SAMPLE CODE
home_team = "Liverpool"
away_team = "Chelsea"
#x = score_predictor_simple(home_team, away_team)
x_home = 0
x_away = 0
epoch = 1000
for i in range(0, epoch):
  x = score_predictor_simple(home_team, away_team)
  x_home = x_home + x[0]
  x_away = x_away + x[1]
print(home_team + " " + str(int(round(x_home/epoch)))+ " " + away_team + " " + str(int(round(x_away/epoch))))
#print(home_team + " " + str(x[0]) + " " + away_team + " " + str(x[1]))

Liverpool 1 Chelsea 1

In [ ]:
import pandas as pd
schedule = pd.read_csv('PL2020.csv', sep = ',', encoding='latin1')
schedule = schedule.values[0:, 0:7]
list_of_teams = pd.read_csv('list_of_teams_20.csv', sep = ',', encoding='latin1')
list_of_teams = list_of_teams.values[0:]

In [ ]:
def simulate_season():
  season_stats = []
  game_result = [0, 0, 0, 0]
  for i in range(0, 380):
    home_team = schedule[i][1]
    away_team = schedule[i][5]
    score = score_predictor_simple(home_team, away_team)
    game_result = [home_team, away_team, score[0], score[1]]
    season_stats.append(game_result)
  return season_stats

In [ ]:
def points_per_season(team, stats):
  points = 0
  for i in range(len(stats)):
    if(stats[i][0]==team):
      if(stats[i][2]>stats[i][3]):
        points = points + 3
      if(stats[i][2]==stats[i][3]):
        points = points + 1
    if(stats[i][1]==team):
        if(stats[i][2]<stats[i][3]):
          points = points + 3
        if(stats[i][2]==stats[i][3]):
          points = points + 1
  return points

In [ ]:
# SAMPLE CODE
table = []
stats = simulate_season()
for i in range(0, 20):
  team = [0, 0]
  team[0] = list_of_teams[i][0]
  team[1] = points_per_season(team[0], stats)
  table.append(team)
def takeSecond(elem):
    return elem[1]
table.sort(reverse= True, key=takeSecond)
for i in range(0, 20):
  print(str(i+1) + ". " + table[i][0] + " " + str(table[i][1]))

1. Liverpool 90
2. Tottenham Hotspur 88
3. Manchester City 85
4. Chelsea 80
5. Manchester United 78
6. Everton 69
7. Arsenal 63
8. Leicester City 58
9. Crystal Palace 48
10. Southampton 46
11. Brighton & Hove Albion 44
12. Wolverhampton Wanderers 42
13. Newcastle United 39
14. Watford 35
15. West Ham United 35
16. Burnley 32
17. Norwich City 31
18. Sheffield United 30
19. Bournemouth 26
20. Aston Villa 23

In [ ]:
def team_stats(team):
  stats = simulate_season()
  team_record = []
  for i in range(0, len(stats)):
    if(stats[i][0]==team or stats[i][1]==team):
      team_record.append(stats[i])
  return team_record

In [ ]:
# SAMPLE CODE
result = team_stats("Sheffield United")
for i in range(0, len(result)):
  print(result[i])

(D) Game Simulator

*   *scoreprob(team, year)*: Assigns a goal-scoring probability vector to the starting eleven of a team (team) for a particular season (year)
*   *getscorer(team, year, score)*: Given a particular score (score) in a game played by a team (team) in the season (year), returns a matrix of how those goals were distributed in the 90 minutes and which players scored the goals
*   *simulator_display(home_team, away_team, score)*: Provides a visual interface for the simulation of a game played between two teams (home_team, away_team) with score (score). The two starting elevens are displayed following which the simulation begins. Expected time for completion: 30 seconds. Compatible for teams playing in the Premier League in 2020 only. See schedule.csv for further info.

In [ ]:
def scoreprob(team, year):
  ordered_team = process_starters(team, year)
  def_count = ordered_team[12]
  mid_count = ordered_team[13]
  att_count = ordered_team[14]
  score_prob = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
  sum = 0
  for i in range(1, def_count+1):
    score_prob[i] = 1
    sum = sum + 1
  for i in range(def_count+1, def_count+mid_count+1):
    score_prob[i] = 3
    sum = sum + 3
  for i in range(def_count + mid_count + 1, 11):
    score_prob[i] = 5
    sum = sum + 5
  for i in range(0, 11):
    score_prob[i] = score_prob[i]/sum
  score_cum = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
  for i in range(0, 11):
    for j in range(0, i+1):
      score_cum[i] = score_cum[i] + score_prob[j]
  return score_cum

In [ ]:
def get_scorer(team, year, score):
  squad = process_starters(team, year)
  score_prob = scoreprob(team, year)
  goal_vector = [0, 0, 0, 0] #goal no, scorer, time
  goal_matrix = []
  if(score == 0):
    return goal_vector
  for i in range(0, score):
    goal_vector = [0, 0, 0, 0]
    goal_vector[3] = team
    goal_vector[0] = i+1
    goal_vector[1] = squad[1]
    num = random.uniform(score_prob[1], 1)
    for j in range(0, 10):
      if(num > score_prob[j] and num <= score_prob[j+1]):
        goal_vector[1] = squad[j+1]
    time = int(random.uniform(1, 90.1))
    goal_vector[2] = time
    goal_matrix.append(goal_vector)
  def takeThird(elem):
    return elem[2]
  goal_matrix.sort(reverse= False, key=takeThird)
  for i in range(len(goal_matrix)):
    goal_matrix[i][0] = i+1
  return goal_matrix

In [ ]:
import time
import numpy as np
def simulator_display(home_team, away_team, year):
  ordered_home_team = process_starters(home_team, year)
  ordered_away_team = process_starters(away_team, year)
  score_prob_home = scoreprob(home_team, year)
  score_prob_away = scoreprob(away_team, year)
  score = score_predictor_simple(home_team, away_team)
  goal_data_home = get_scorer(home_team, year, score[0])
  goal_data_away = get_scorer(away_team, year, score[1])
  goal_data = []
  print("Welcome to the Live Coverage of the game between " + home_team + " vs. " + away_team)
  print("The " + home_team + " lineup is as follows:")
  for i in range(0, 11):
    print(ordered_home_team[i])
  print("\nThe " + away_team + " lineup is as follows:")
  for i in range(0, 11):
    print(ordered_away_team[i])
  time.sleep(4)
  print("\n KICK-OFF")
  if(goal_data_home== [0, 0, 0, 0] and goal_data_away== [0, 0, 0, 0]):
    time.sleep(90/4)
    print("\n FINAL SCORE:" + home_team + " 0 " + away_team + " 0")
  else:
    if(score[0]!=0):
      for i in range(0, len(goal_data_home)):
        goal_data.append(goal_data_home[i])
    if(score[1]!=0):
      for i in range(0, len(goal_data_away)):
        goal_data.append(goal_data_away[i])
    def takeThird(elem):
      return elem[2]
    #print(goal_data)
    goal_data.sort(reverse= False, key=takeThird)
    home_goals = 0
    away_goals = 0
    for i in range(0, len(goal_data)):
      if(i != 0):
        time.sleep((goal_data[i][2] - goal_data[i-1][2])/4)
      else:
        time.sleep(goal_data[i][2]/4)
      if(goal_data[i][3] == home_team):
        home_goals = home_goals + 1
      if(goal_data[i][3] == away_team):
        away_goals = away_goals + 1
      print(str(goal_data[i][2]) + "\" " + home_team + " " + str(home_goals) + " " + away_team + " " + str(away_goals) + " (" + goal_data[i][1] + ")\n")
      if(i == len(goal_data)-1):
        time.sleep((90 - goal_data[i][2])/4)
    print("\n FINAL SCORE: " + home_team + " " + str(home_goals) + " " + away_team + " " + str(away_goals))

In [ ]:
# SAMPLE CODE
simulator_display("Tottenham Hotspur", "Sheffield United", 2020)

Welcome to the Live Coverage of the game between Tottenham Hotspur vs. Sheffield United
The Tottenham Hotspur lineup is as follows:
Hugo Lloris
Serge Aurier
Toby Alderweireld
Jan Vertonghen
Danny Rose
Christian Eriksen
Harry Winks
Tanguy Ndombele
Son Heung-Min
Dele Alli
Harry Kane

The Sheffield United lineup is as follows:
Dean Henderson
George Baldock
Chris Basham
John Egan
Jack O'Connell
Enda Stevens
Oliver Norwood
John Lundstram
John Fleck
David McGoldrick
Callum Robinson

 KICK-OFF
36" Tottenham Hotspur 1 Sheffield United 0 (Son Heung-Min)

47" Tottenham Hotspur 2 Sheffield United 0 (Christian Eriksen)

70" Tottenham Hotspur 3 Sheffield United 0 (Dele Alli)


 FINAL SCORE: Tottenham Hotspur 3 Sheffield United 0

In [ ]:
# SAMPLE CODE
team = "Manchester City"
year = 2015
roster = extract_roster(team, year)
for i in range(0, len(roster)):
  print(roster[i][1])

In [ ]:
# SAMPLE CODE
print(h2h_record("Chelsea", "Portsmouth"))

In [ ]:
h2hdata = pd.DataFrame(record)
h2hdata['home_rating'] = np.random.randn(len(h2hdata))
h2hdata['away_rating'] = np.random.randn(len(h2hdata))
h2hdata = h2hdata.rename(columns = {0:"home_team", 1:"away_team", 2:"home_score", 3:"away_score", 4:"result", 5:"year"})

(E) Neural Network for Result Prediction

* The first block is used to extrapolate ratings. We have ratings from 2014 to 2019 while head-to-head results are from 2007 to 2019. To cover up for this, teams are either assigned their maximum available rating or a default rating of 75 if the former is unavailable. For some reason, if this produces a nonsensical result in the first go, comment out the if statements, run the block, then uncomment them and run it again. This should produce a sensible result.
* The fifth block prepares the input layer for learning - it normalizes the ratings and year and assigns a unique number to each team - in order to make the data interpretable to the neural network.
* The sixth block splits the dataset into training and test data
* The seventh and eighth blocks encode the results (H, A, D) into numerical codes, again for interpretability
* Block 9 contains the neural network architecture
* *predictor(home, away)*: Returns the predictions for a game between *home* and *away* teams
* *display_preds(home, away)*: Displays home win, away win and draw probabilities in user-friendly format
* Finally, the model is tested on the fixtures of the 2019-20 season and a CSV output is produced

In [ ]:
# BLOCK E1
for i in range(0, len(h2hdata)):
  h2hdata['home_rating'][i] = average_team_rating(h2hdata['home_team'][i], h2hdata['year'][i])
  h2hdata['away_rating'][i] = average_team_rating(h2hdata['away_team'][i], h2hdata['year'][i])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [ ]:
# BLOCK E2
for i in range(0, len(h2hdata)):
  if(h2hdata['home_rating'][i] == 0):
    h2hdata['home_rating'][i] = max(h2hdata['home_rating'][h2hdata['home_team'] == h2hdata['home_team'][i]])
  if(h2hdata['away_rating'][i] == 0):
    h2hdata['away_rating'][i] = max(h2hdata['away_rating'][h2hdata['away_team'] == h2hdata['away_team'][i]])
  if(h2hdata['home_rating'][i] == 0):
    h2hdata['home_rating'][i] = 75
  if(h2hdata['away_rating'][i] == 0):
    h2hdata['away_rating'][i] = 75

In [ ]:
# BLOCK E3
# SAMPLE CODE
h2hdata

In [ ]:
# BLOCK E4
import tensorflow as tf
from tensorflow import keras
from keras.models import Sequential 
from keras.layers import Dense 
from keras.utils import np_utils
from sklearn.preprocessing import LabelEncoder
from keras.utils.np_utils import to_categorical
from sklearn.utils import shuffle
from tensorflow.keras.optimizers import RMSprop

Using TensorFlow backend.

In [ ]:
# BLOCK E5
input_layer = {'home_team':h2hdata['home_team'], 'away_team':h2hdata['away_team'], 
                   'home_rating':h2hdata['home_rating'], 'away_rating':h2hdata['away_rating'],
                   'year':h2hdata['year'], 'result': h2hdata['result'], 'home_score':h2hdata['home_score'],
               'away_score':h2hdata['away_score']}
input_layer = pd.DataFrame(input_layer)
for i in range(0, len(input_layer)):
  input_layer['home_rating'][i] = (input_layer['home_rating'][i] - 70.0)/(87.0 - 70.0)
  input_layer['away_rating'][i] = (input_layer['away_rating'][i] - 70.0)/(87.0 - 70.0)
  input_layer['year'][i] = (input_layer['year'][i] - 2006)/(2020-2006)
input_layer['home_team'] = pd.Categorical(input_layer['home_team'])
input_layer['home_team'] = input_layer.home_team.cat.codes
input_layer['away_team'] = pd.Categorical(input_layer['away_team'])
input_layer['away_team'] = input_layer.away_team.cat.codes
input_layer['result'] = pd.Categorical(input_layer['result'])
input_layer['result'] = input_layer.result.cat.codes
input_layer

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

      home_team  away_team  home_rating  ...  result home_score  away_score
0            28         19     0.294118  ...       1          1           1
1             0          1     0.882353  ...       1          1           1
2            14         34     0.647059  ...       2          2           1
3            23         37     0.470588  ...       2          2           1
4            25          3     0.294118  ...       2          3           0
...         ...        ...          ...  ...     ...        ...         ...
4934         18         11     0.588235  ...       1          0           0
4935         19         38     0.823529  ...       2          2           0
4936         21          9     0.882353  ...       0          0           2
4937         29         16     0.470588  ...       1          1           1
4938         33         14     0.882353  ...       1          2           2

[4939 rows x 8 columns]

In [ ]:
# BLOCK E6
from sklearn.model_selection import train_test_split
train, test = train_test_split(input_layer, test_size = 0.05)
train1 = train.drop(['home_score', 'away_score'], axis = 1)
test1 = test.drop(['home_score', 'away_score'], axis = 1)
train1_y = train1['result']
train1_x = train1.drop(['result'], axis = 1)
test1_y = test1['result']
test1_x = test1.drop(['result'], axis = 1)

In [ ]:
# BLOCK E7
train1_y = pd.DataFrame(train1_y)
encoder = LabelEncoder()
encoder.fit(train1_y)
train1_y = encoder.transform(train1_y)
train1_y = np_utils.to_categorical(train1_y)

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_label.py:268: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
# BLOCK E8
test1_y = pd.DataFrame(test1_y)
encoder = LabelEncoder()
encoder.fit(test1_y)
test1_y = encoder.transform(test1_y)
test1_y = np_utils.to_categorical(test1_y)

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_label.py:268: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
# BLOCK E9
model = Sequential()
model.add(Dense(1024, input_dim = len(train1_x.columns), activation = 'relu'))
model.add(Dense(512, activation = 'relu'))
model.add(Dense(256, activation = 'relu'))
model.add(Dense(128, activation = 'relu'))
model.add(Dense(64, activation = 'relu'))
model.add(Dense(32, activation = 'relu'))
model.add(Dense(16, activation = 'relu'))
model.add(Dense(3, activation = 'softmax'))
model.compile(loss = 'binary_crossentropy', optimizer = 'adagrad', metrics = ['accuracy'])
model.fit(train1_x, train1_y, epochs = 50)

Epoch 1/50
4692/4692 [==============================] - 2s 475us/step - loss: 0.6673 - accuracy: 0.6674
Epoch 2/50
4692/4692 [==============================] - 0s 101us/step - loss: 0.6163 - accuracy: 0.6710
Epoch 3/50
4692/4692 [==============================] - 0s 103us/step - loss: 0.6141 - accuracy: 0.6743
Epoch 4/50
4692/4692 [==============================] - 1s 124us/step - loss: 0.6088 - accuracy: 0.6797
Epoch 5/50
4692/4692 [==============================] - 1s 114us/step - loss: 0.5997 - accuracy: 0.6918
Epoch 6/50
4692/4692 [==============================] - 0s 102us/step - loss: 0.5915 - accuracy: 0.6964
Epoch 7/50
4692/4692 [==============================] - 0s 103us/step - loss: 0.5823 - accuracy: 0.7048
Epoch 8/50
4692/4692 [==============================] - 0s 98us/step - loss: 0.5811 - accuracy: 0.7084
Epoch 9/50
4692/4692 [==============================] - 0s 101us/step - loss: 0.5764 - accuracy: 0.7089
Epoch 10/50
4692/4692 [==============================] - 0s 105us/step - loss: 0.5769 - accuracy: 0.7084
Epoch 11/50
4692/4692 [==============================] - 1s 120us/step - loss: 0.5750 - accuracy: 0.7083
Epoch 12/50
4692/4692 [==============================] - 0s 100us/step - loss: 0.5739 - accuracy: 0.7102
Epoch 13/50
4692/4692 [==============================] - 0s 100us/step - loss: 0.5740 - accuracy: 0.7090
Epoch 14/50
4692/4692 [==============================] - 0s 104us/step - loss: 0.5736 - accuracy: 0.7110
Epoch 15/50
4692/4692 [==============================] - 0s 98us/step - loss: 0.5729 - accuracy: 0.7121
Epoch 16/50
4692/4692 [==============================] - 1s 122us/step - loss: 0.5724 - accuracy: 0.7106
Epoch 17/50
4692/4692 [==============================] - 1s 111us/step - loss: 0.5721 - accuracy: 0.7110
Epoch 18/50
4692/4692 [==============================] - 0s 100us/step - loss: 0.5704 - accuracy: 0.7125
Epoch 19/50
4692/4692 [==============================] - 0s 98us/step - loss: 0.5705 - accuracy: 0.7133
Epoch 20/50
4692/4692 [==============================] - 1s 112us/step - loss: 0.5708 - accuracy: 0.7114
Epoch 21/50
4692/4692 [==============================] - 0s 101us/step - loss: 0.5702 - accuracy: 0.7125
Epoch 22/50
4692/4692 [==============================] - 0s 104us/step - loss: 0.5706 - accuracy: 0.7119
Epoch 23/50
4692/4692 [==============================] - 0s 100us/step - loss: 0.5694 - accuracy: 0.7145
Epoch 24/50
4692/4692 [==============================] - 0s 102us/step - loss: 0.5692 - accuracy: 0.7136
Epoch 25/50
4692/4692 [==============================] - 0s 99us/step - loss: 0.5697 - accuracy: 0.7132
Epoch 26/50
4692/4692 [==============================] - 0s 103us/step - loss: 0.5701 - accuracy: 0.7114
Epoch 27/50
4692/4692 [==============================] - 0s 100us/step - loss: 0.5688 - accuracy: 0.7144
Epoch 28/50
4692/4692 [==============================] - 0s 103us/step - loss: 0.5692 - accuracy: 0.7132
Epoch 29/50
4692/4692 [==============================] - 0s 99us/step - loss: 0.5684 - accuracy: 0.7144
Epoch 30/50
4692/4692 [==============================] - 0s 103us/step - loss: 0.5689 - accuracy: 0.7142
Epoch 31/50
4692/4692 [==============================] - 0s 98us/step - loss: 0.5682 - accuracy: 0.7148
Epoch 32/50
4692/4692 [==============================] - 0s 100us/step - loss: 0.5684 - accuracy: 0.7143
Epoch 33/50
4692/4692 [==============================] - 0s 98us/step - loss: 0.5682 - accuracy: 0.7155
Epoch 34/50
4692/4692 [==============================] - 0s 104us/step - loss: 0.5674 - accuracy: 0.7160
Epoch 35/50
4692/4692 [==============================] - 0s 101us/step - loss: 0.5676 - accuracy: 0.7165
Epoch 36/50
4692/4692 [==============================] - 0s 101us/step - loss: 0.5682 - accuracy: 0.7121
Epoch 37/50
4692/4692 [==============================] - 0s 103us/step - loss: 0.5679 - accuracy: 0.7148
Epoch 38/50
4692/4692 [==============================] - 0s 99us/step - loss: 0.5674 - accuracy: 0.7145
Epoch 39/50
4692/4692 [==============================] - 0s 102us/step - loss: 0.5674 - accuracy: 0.7143
Epoch 40/50
4692/4692 [==============================] - 0s 99us/step - loss: 0.5668 - accuracy: 0.7147
Epoch 41/50
4692/4692 [==============================] - 0s 102us/step - loss: 0.5669 - accuracy: 0.7155
Epoch 42/50
4692/4692 [==============================] - 0s 99us/step - loss: 0.5661 - accuracy: 0.7150
Epoch 43/50
4692/4692 [==============================] - 1s 109us/step - loss: 0.5668 - accuracy: 0.7157
Epoch 44/50
4692/4692 [==============================] - 0s 98us/step - loss: 0.5667 - accuracy: 0.7171
Epoch 45/50
4692/4692 [==============================] - 1s 115us/step - loss: 0.5661 - accuracy: 0.7183
Epoch 46/50
4692/4692 [==============================] - 1s 120us/step - loss: 0.5663 - accuracy: 0.7161
Epoch 47/50
4692/4692 [==============================] - 1s 108us/step - loss: 0.5656 - accuracy: 0.7139
Epoch 48/50
4692/4692 [==============================] - 1s 110us/step - loss: 0.5661 - accuracy: 0.7153
Epoch 49/50
4692/4692 [==============================] - 1s 139us/step - loss: 0.5655 - accuracy: 0.7140
Epoch 50/50
4692/4692 [==============================] - 0s 106us/step - loss: 0.5658 - accuracy: 0.7173

In [ ]:
# BLOCK E10
model.evaluate(test1_x, test1_y)
pred_data = pd.DataFrame(model.predict(test1_x)*100)
pred_data = pred_data.rename(columns = {0:"AWAY WIN", 1: "DRAW", 2: "HOME WIN"})
pred_data

247/247 [==============================] - 0s 180us/step

      AWAY WIN       DRAW   HOME WIN
0    26.681122  28.081755  45.237114
1    27.904753  28.532907  43.562340
2    55.678131  23.730339  20.591534
3    34.528324  37.144238  28.327435
4     7.588997  16.264687  76.146309
..         ...        ...        ...
242   8.290691  18.203148  73.506157
243  54.113895  23.307180  22.578924
244  51.822178  24.516548  23.661270
245  21.710173  24.600687  53.689140
246   8.237214  17.742699  74.020088

[247 rows x 3 columns]

In [ ]:
# BLOCK E11
# SAMPLE CODE
test1_x

      home_team  away_team  home_rating  away_rating       year
3456         30         35     0.411765     0.294118   0.714286
640          15         36     0.470588     0.588235   0.142857
89           28         11     0.294118     0.882353  0.0714286
2259          5         33     0.294118     0.882353   0.428571
2479         20         30     1.000000     0.588235        0.5
...         ...        ...          ...          ...        ...
4449         11         35     0.882353     0.470588   0.857143
2804         30         11     0.588235     0.882353   0.571429
59            5         19     0.294118     0.823529  0.0714286
4540         14         29     0.647059     0.529412   0.857143
3325         11         29     0.823529     0.411765   0.642857

[247 rows x 5 columns]

In [ ]:
# BLOCK E12
test_output = test1_x
testindex = test_output.index.values
for i in range(0, len(testindex)):
  test_output['home_team'][testindex[i]] = h2hdata['home_team'][testindex[i]]
  test_output['away_team'][testindex[i]] = h2hdata['away_team'][testindex[i]]
test_output['home_win'] = pred_data['HOME WIN'].to_numpy()
test_output['draw'] = pred_data['DRAW'].to_numpy()
test_output['away_win'] = pred_data['AWAY WIN'].to_numpy()
test_output

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

             home_team             away_team  ...       draw   away_win
3456        Stoke City  West Bromwich Albion  ...  28.081755  26.681122
640             Fulham       West Ham United  ...  28.532907  27.904753
89    Sheffield United               Chelsea  ...  23.730339  55.678131
2259  Bolton Wanderers     Tottenham Hotspur  ...  37.144238  34.528324
2479   Manchester City            Stoke City  ...  16.264687   7.588997
...                ...                   ...  ...        ...        ...
4449           Chelsea  West Bromwich Albion  ...  18.203148   8.290691
2804        Stoke City               Chelsea  ...  23.307180  54.113895
59    Bolton Wanderers             Liverpool  ...  24.516548  51.822178
4540           Everton           Southampton  ...  24.600687  21.710173
3325           Chelsea           Southampton  ...  17.742699   8.237214

[247 rows x 8 columns]

In [ ]:
# BLOCK E13
# SAMPLE CODE
test_output.to_csv('out.csv', index = False)

In [ ]:
# BLOCK E14
def predictor(home, away):
  teamlist = []
  for i in range(0, len(h2hdata)):
    teamlist.append(h2hdata['home_team'][i])
  teamlist = pd.unique(teamlist)
  teamlist = np.sort(teamlist)
  teamindex = np.zeros(len(teamlist))
  homecount = 0
  awaycount = 0
  for i in range(0, len(teamindex)):
    if(teamlist[i] == home):
      homecount = 1
    if(teamlist[i] == away):
      awaycount = 1
    teamindex[i] = i
  if(homecount == 1):
    homeindex = np.where(teamlist == home)[0][0]
  if(awaycount == 1):
    awayindex = np.where(teamlist == away)[0][0]
  if(homecount == 0):
    homeindex = np.random.randint(0, len(teamlist))
  if(awaycount == 0):
    awayindex = np.random.randint(0, len(teamlist))
  homerating = average_team_rating(home, 2020)
  awayrating = average_team_rating(away, 2020)
  if(homerating == 0):
    homerating = max(average_team_rating(home, 2015), average_team_rating(home, 2016), average_team_rating(home, 2017),
                     average_team_rating(home, 2018), average_team_rating(home, 2019), 72)
  if(awayrating == 0):
    awayrating = max(average_team_rating(away, 2015), average_team_rating(away, 2016), average_team_rating(away, 2017),
                     average_team_rating(away, 2018), average_team_rating(away, 2019), 72)
  input = np.array([homeindex, awayindex, (homerating - 70)/(87-70), (awayrating - 70)/(87-70), 0.5])
  input = pd.DataFrame(input)
  input = input.transpose()
  preds = model.predict(input)
  return preds

In [ ]:
# BLOCK E15
def display_preds(home, away):
  preds = predictor(home, away)
  print("Win probability for: " + str(home) + " is " + str(round(preds[0][2]*100, 0)) + "%")
  print("Win probability for: " + str(away) + " is " + str(round(preds[0][0]*100, 0)) + "%")
  print("Probability of a draw is " + str(round(preds[0][1]*100, 0)) + "%")

In [ ]:
# BLOCK E16
# SAMPLE CODE
# Probabilities if the teams were to play in the Premier League in 2020
display_preds("Sheffield United", "Norwich City")

Win probability for: Sheffield United is 41.0%
Win probability for: Norwich City is 29.0%
Probability of a draw is 29.0%

In [ ]:
# BLOCK E17
schedule = pd.DataFrame(schedule)
if(len(schedule) != 380):
  schedule = schedule.drop([380, 381], axis = 0)
schedule

       0  ...                                6
0    LIV  ...               Anfield, Liverpool
1    BOU  ...    Vitality Stadium, Bournemouth
2    BUR  ...               Turf Moor, Burnley
3    CRY  ...            Selhurst Park, London
4    LEI  ...    King Power Stadium, Leicester
..   ...  ...                              ...
375  LEI  ...    King Power Stadium, Leicester
376  MCI  ...       Etihad Stadium, Manchester
377  NEW  ...       St. James' Park, Newcastle
378  SOU  ...  St. Mary's Stadium, Southampton
379  WHU  ...           London Stadium, London

[380 rows x 7 columns]

In [ ]:
# BLOCK E18
schedule['home_win'] = np.zeros(380)
schedule['away_win'] = np.zeros(380)
schedule['draw'] = np.zeros(380)
for i in range(0, 380):
  pred = predictor(schedule[1][i], schedule[5][i])
  schedule['home_win'][i] = round(pred[0][2]*100, 2)
  schedule['away_win'][i] = round(pred[0][0]*100, 2)
  schedule['draw'][i] = round(pred[0][1]*100, 2)
schedule

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

       0                 1           2  ... home_win away_win   draw
0    LIV         Liverpool  09-08-2019  ...    83.33     4.31  12.35
1    BOU       Bournemouth  10-08-2019  ...    62.32    13.98  23.70
2    BUR           Burnley  10-08-2019  ...    48.58    23.73  27.69
3    CRY    Crystal Palace  10-08-2019  ...    35.04    35.97  28.99
4    LEI    Leicester City  10-08-2019  ...    45.97    26.40  27.63
..   ...               ...         ...  ...      ...      ...    ...
375  LEI    Leicester City  17-05-2020  ...    37.08    33.99  28.93
376  MCI   Manchester City  17-05-2020  ...    83.08     4.41  12.51
377  NEW  Newcastle United  17-05-2020  ...    20.61    55.90  23.49
378  SOU       Southampton  17-05-2020  ...    47.29    25.27  27.44
379  WHU   West Ham United  17-05-2020  ...    43.46    28.40  28.14

[380 rows x 10 columns]

In [ ]:
# BLOCK E19
schedule = schedule.rename(columns = {0:"home_abbr", 1:"home_name", 2: "date", 3:"time", 4:"away_abbr", 5:"away_name", 6:"stadium"})
schedule['predicted'] = np.zeros(380)
for i in range(0, 380):
  if(schedule['home_win'][i] >= schedule['away_win'][i] and schedule['home_win'][i] >= schedule['draw'][i]):
    schedule['predicted'][i] = schedule["home_abbr"][i]
  if(schedule['away_win'][i] >= schedule['home_win'][i] and schedule['away_win'][i] >= schedule['draw'][i]):
    schedule['predicted'][i] = schedule['away_abbr'][i]
  if(schedule['draw'][i] >= schedule['away_win'][i] and schedule['home_win'][i] <= schedule['draw'][i]):
    schedule['predicted'][i] = "DRAW"

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [ ]:
# BLOCK E20
# SAMPLE CODE
schedule

    home_abbr         home_name        date  ... away_win   draw predicted
0         LIV         Liverpool  09-08-2019  ...     4.31  12.35       LIV
1         BOU       Bournemouth  10-08-2019  ...    13.98  23.70       BOU
2         BUR           Burnley  10-08-2019  ...    23.73  27.69       BUR
3         CRY    Crystal Palace  10-08-2019  ...    35.97  28.99       EVE
4         LEI    Leicester City  10-08-2019  ...    26.40  27.63       LEI
..        ...               ...         ...  ...      ...    ...       ...
375       LEI    Leicester City  17-05-2020  ...    33.99  28.93       LEI
376       MCI   Manchester City  17-05-2020  ...     4.41  12.51       MCI
377       NEW  Newcastle United  17-05-2020  ...    55.90  23.49       LIV
378       SOU       Southampton  17-05-2020  ...    25.27  27.44       SOU
379       WHU   West Ham United  17-05-2020  ...    28.40  28.14       WHU

[380 rows x 11 columns]

In [ ]:
# BLOCK E21
schedule.to_csv('finalpred.csv', index = False)